[Desktop Entry]
Encoding=UTF-8
Name=KakaoTalk
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "KakaoTalk" %F
Icon=/home/harusary/.PlayOnLinux//icones/full_size/KakaoTalk
Name[fr_FR]=KakaoTalk
StartupWMClass=KakaoTalk.exe
Categories=
