body {
  margin: 0px; }

  .top {
    display: grid;
    grid-template-columns: 70px 1fr 100px;
    margin: 0px;
    height: 100px;
    border-bottom: 1px solid gray; }
    .top .material-icons {
      font-size: 30px;
      text-align: center;
      margin: 15px;
      padding-top: 5px; }
      .top h1 {
        margin: 25px;
        text-align: center; }
        .top .sign {
          font-size: 18px;
          text-align: center;
          height: 30px;
          padding-top: 35px;
          text-decoration: none;
          color: inherit; }
          .top button {
            border: none;
            background-color: white; }
            .top .drawer .drawer_top {
              display: grid;
              grid-template-columns: 2fr 1fr; }
              .top .drawer .drawer_top h2 {
                margin: 25; }
