<!doctype html>
<html lang="ko">
    <head>
        {% include 'shares/_head.html' %}
      <title>orim - home</title>
    </head>

    <body>
        {% include 'shares/_top.html' %}

        {% include 'shares/_search.html' %}
    
        <ol class = "main_video_line" >
            <ol class = "main_video_category">
                <p>Gaming</p>
                {% for value in video_list_Gaming%}
                    
                    {% include 'home/_main_video.html' %}

                {%endfor%}
            </ol>       
            <ol class = "main_video_category">
                <p>Music</p>
                {% for value in video_list_Music%}
                        
                    {% include 'home/_main_video.html' %}
                    
                {%endfor%}
            </ol>   
            <ol class = "main_video_category">
                <p>Sports</p>
                {% for value in video_list_Sports%}
                     
                    {% include 'home/_main_video.html' %}
                   
                {%endfor%}
            </ol>               
            
        </ol>

   
        
        {% include 'shares/_footer.html' %}

        {% include 'shares/_script.html' %}
        
        
    </body>
</html>