{% extends "base.html" %}
{% block title %}orim - index{% endblock %}
{% block content %}
    <div class = "top">
        <button type="button" class="drawer-opener" ><span class="material-icons">
            menu
            </span></button>

        <div class="drawer">
            <div class = "drawer_top">
                <h2>MEUN</h2>
                <h2><button type="button" class="drawer-opener" ><span class="material-icons">
                    menu
                    </span></button></h2>
            </div>

            <ul class = "menu_all">
                <input id = 'night_day' type="button" value="dark" onclick="daynighthandle(this)">
                <br>
                <list>
                    <label>카테고리</label>
                    <ul> 
                        <li><a href = "http://www.naver.com">영화</a></li>
                        <li><a href = "http://www.naver.com">코미디</a></li>
                        <li><a href = "http://www.naver.com">동물</a></li>
                        <li><a href = "http://www.naver.com">게임</a></li>
                        <li><a href = "http://www.naver.com">스포츠</a></li>
                        <li><a href = "http://www.naver.com">쇼츠</a></li>
                    </ul>
                </list>
            </ul>
        </div>
        <h1>Orim</h1>
        <a class = "sign in" href = "http://www.naver.com">sign in</a> 
    </div>

    ol class = "main_video_line" >
    {% for key, value in video_list.items()%}
        
            <list class = "yt_video" id="main_no_1">
                <div class = "video_thumbnail">                   
                    <a href = "{{value['url']}}" target = "_blank">
                        <img src = "{{value['thumbnail']}}">
                    </a><br>
                </div>

                <div class = "video_information">
                    <div class = "video_information_title">
                        <a href = "http://www.naver.com" >영상제목</a>
                    </div>

                    <div class = "video_information_sub">
                        <div class = "video_information_sub_channel">
                            <a href = "http://www.naver.com" >채널이름</a>
                        </div>
                        <div class = "video_information_sub1">
                            <div class ="video_information_sub2_1">
                            <div class = "video_information_sub_good">
                                <span class="material-icons">
                                    thumb_up_alt
                                </span>
                                50
                            </div>

                            <div class = "video_information_sub_view">
                                <span class="material-icons">
                                    visibility
                                </span>
                                70
                            </div>
                            </div>

                            <div class = "video_information_sub2_2">
                            2022.01.01
                            </div>
                        </div>
                    </div>
                </div>
            </list>

        {% endfor%}
    </ol> 
{% endblock %}
