body{
    margin : 0px;
    
}

.top{
    display : grid;
            grid-template-columns: 70px 1fr 100px;
            margin : 0px;
            height: 100px;
            border-bottom: 1px solid gray;
    
    .material-icons{
        font-size: 30px;
            text-align: center;
            margin : 15px;
            padding-top: 5px;
    }

    h1{
        margin : 25px; 
        text-align: center;
    }

    .sign{
        font-size: 18px;
        text-align: center;
        height: 30px;
        padding-top: 35px;
        text-decoration : none;
        color: inherit;
    }

    button{
        border : none;
        background-color: white;
        }
    
    .drawer{
        .drawer_top{
            display: grid;
            grid-template-columns: 2fr 1fr;

            h2{
                margin : 25;
                }
        }


    }
}

.main_video_line{
    margin : 50px;
    padding: 0px;
    align-content : center;
}

.yt_video{
    display : inline-grid;
    grid-template-rows: 260px 1fr;
    border : solid gray 1px;
    margin-bottom: 10px;
    height : 330px;
    
    .video_thumbnail{
        display : inline;
        list-style: none;
        width : 380px;
        height : 260px;
        border-bottom: solid gray 1px;


        img{
            border: 3px solid none ;
            width : 380px;
            height : 260px;
        }
    }
    .video_information_title{
        font-size: 17px;
        background-color: black;


        p{
            margin : 0px;
        }
    }

        
    .video_information{
        font-size: 10px;
        height : 70px;
        
        display : inline-grid;
        grid-template-rows: 25px 1fr;

        
        .material-icons{
            font-size: 15px;
        }


        .video_information_sub{
            display: inline-grid;
            grid-template-columns:2fr 1fr;
            font-size: 15px;
            .video_information_sub_channel{
            margin-top : 10px;
            }
            .video_information_sub1{
                font-size: 14px;
                display: inline-grid;
                grid-template-rows:1fr 1fr;  
                .video_information_sub2_1{
                    display: inline-grid;
                    grid-template-columns:1fr 1fr;  
                }
                .video_information_sub2_2{
                    font-size : 15px;
                }
            }                  
        }

        
    }
    
}