body{
    margin : 0px;
    a{
        text-decoration : none;
        color: inherit;
    }
}

.searchblock{
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    width: 500px;
    height: 40px;
    display : grid;
    grid-template-columns: 8fr 1fr;
    
}

.top{
    display : grid;
    grid-template-columns: 70px 1fr 100px;
    margin : 0px;
    height: 110px;
    border-bottom: 1px solid gray;
    
    .material-icons{
        font-size: 30px;
        text-align: center;
        margin : 15px;
        padding-top: 5px;
    }

    .orim{
        font-size: 40px;
        font-weight: 700;
        margin : 25px; 
        text-align: center;
            
    }

    .sign{
        font-size: 18px;
        text-align: center;
        height: 30px;
        padding-top: 35px;
        
    }

    button{
        border : none;
        background-color: white;
        }
    
    .drawer{
        .drawer_top{
            display: grid;
            grid-template-columns: 2fr 1fr;

            h2{
                margin : 25;
                }
        }


    }
}

